$blueColor: #C6C9F8;

.users_item {
  display: grid;
  grid-template-columns: repeat(6, 1fr );
}

.grid1,
.grid2,
.grid3,
.grid4,
.grid5,
.grid6 {
  padding: 26px 0;
  border: 1px solid $blueColor;
}

.face {
  width: 60px;
  height: 60px;
  margin: -17px auto;
  border-radius: 50%;
  overflow: inherit;
  background: url(../public/face.jpg);
  background-size: cover;
  background-position: center;
}

.btn {
  width: 61px;
  height: 38px;
  border-radius: 15px;
  margin: -8px auto;
  padding: 7px;
  background: $blueColor;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .users_item {
    grid-template-columns: repeat(3, 1fr );
    grid-template-rows: repeat(4, 1fr );
    border: 1px solid $blueColor;
    margin-bottom: 40px;
  }
  
  .grid1,
  .grid2,
  .grid3,
  .grid4,
  .grid5,
  .grid6 {
    padding: 7px 0;
  }

  .grid1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .grid2 {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .grid3 {
    padding: 26px 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .grid4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .grid6 {
    padding: 26px 0;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .face {
    margin: 2px auto;
  }
}

@media (max-width: 540px) {
  
}