$blueColor: #C6C9F8;

.users_header {
  display: grid;
  grid-template-columns: repeat(6, 1fr );
}

.users_header div {
  padding: 7px;
  border: 1px solid $blueColor;
}

@media (max-width: 768px) {
  .users_header {
    display: none;
  }
}